{% extends "blog/base.html" %}
{% block content %}

<div style="padding-left: 30%">
<form class="form-inline" style="width: 90%;">
        <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name='search'
            value="{{search_term_extract}}"
            minlength=5>
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>

</button>
      </form>
</div>
    {% for post in blogs %}
    {% if post.content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" height="100" width="100" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}"> <h2>{{ post.author }}</h2></a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% load static %}
            {% if post.image %}
            <img id="home-media" src="{{ post.image.url }}">
            {% endif %}
            {% if post.video %}
            <video id="home-media" src="{{ post.video.url }}" height="700" width="700" controls>This browser doesnt support the video</video>
            {% endif %}
          </div>
          <div id="like-section">
            {% include 'blog/like_section.html' %}
          </div>
        </article>
        {% else %}
        {{post.author.username}}
        {% endif %}
{% endfor %}
<br>
{% if blogs %}
<div class="pb-5">



  {% if blogs.has_previous %}
  {% if blogs.number == 2 %}
  <a id="nounderline" href="?page=1"><i class="fas fa-step-backward fa-2x"></i>
&nbsp &nbsp 
</a>
  {% else %}
  <a id="nounderline" href="?page=1"><i class="fas fa-step-backward fa-2x"></i>
&nbsp &nbsp 
</a>
  <a id="nounderline" href="?page={{ blogs.previous_page_number }}&search={{search_term_extract}}"><i class="fas fa-chevron-circle-left fa-2x"></i>
&nbsp &nbsp 
</a>
  {% endif %}
  {% endif %}


  {% if blogs.has_next %}
  <a id="nounderline" href="?page={{ blogs.next_page_number }}&search={{search_term_extract}}"><i class="fas fa-chevron-circle-right fa-2x"></i>
&nbsp &nbsp 
</a>
  <a id="nounderline" href="?page={{ blogs.paginator.num_pages }}&search={{search_term_extract}}"><i class="fas fa-step-forward fa-2x"></i>

 &nbsp &nbsp </a>
  {% endif %}
</div>

{% endif %}

<style type="text/css">
  
#nounderline {
  text-decoration: none;
  color: hotpink
}

</style>
{% endblock %}



