 <div>
            <div class="inline" id="container">
              <div id="first">
            <form action="{% url 'like_post' post.id %}">
              {% csrf_token %}
              {% if is_liked %}
                
                	<button id="like" style="background-color: #FFF5EE; color: hotpink;" type='submit' name='blog_id' value="{{ post.id }}" class="btn btn-lg d-inline-flex p-2"><i class="fas fa-smile-beam"></i></button>
              
              {% else %}

              		<button id="like" style="background-color: #FFF5EE;" type='submit' name='blog_id' value="{{ post.id }}" class="btn btn-lg d-inline-flex p-2"><i class="fas fa-smile-beam"></i></button>
              {% endif %}
            </form>
            </div>

            <div id="second">
            <form action="{% url 'dislike_post' post.id %}">
              {% csrf_token %}
              {% if is_disliked %}
                
                  <button id="dislike" style="background-color: #FFF5EE; color: hotpink;" type='submit' name='blog_id' value="{{ post.id }}" class="btn btn-lg d-inline-flex p-2"><i class="fas fa-frown"></i>

              </i></button>
              
              {% else %}

                  <button id="dislike" style="background-color: #FFF5EE;" type='submit' name='blog_id' value="{{ post.id }}" class="btn btn-lg d-inline-flex p-2"><i class="fas fa-frown"></i></button>
              {% endif %}
            </form>
            
            </div>
            </div>
            </div>