{% extends 'blog/base.html' %}
{% block content %}
<div class="mt-5 pt-3 pb-3">
<h4>sorry but you aren't a creator</h4>
<p>Currently to make sure that the website doesn't have any legal issues we only allow creators to post material that isn't owned by any one. That implies that we certify the creators before they can post material. You too can be a creator for our website all you have to do is send us 5 samples of your work at //email// and we will contact you in less than 48 hours</p>
</div>
{% endblock %}